[gcode_shell_command v4l2-ctl]
command = v4l2-ctl -d /dev/v4l/by-path/platform-fd500000.pcie-pci-0000:01:00.0-usb-0:1.3:1.0-video-index0 
timeout = 5.0
verbose = True

# [gcode_macro cam_settings]
# gcode:
#     RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-l"


# [gcode_macro pan_left]
# gcode:
#     RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c pan_absolute=201600"

# [gcode_macro pan_right]
# gcode:
#     RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c pan_absolute=-201600"

# [gcode_macro pan_center]
# gcode:
#     RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c pan_absolute=0"

# [gcode_macro tilt_up]
# gcode:
#     RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c tilt_absolute=-201600"

# [gcode_macro tilt_down]
# gcode:
#     RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c tilt_absolute=201600"

# [gcode_macro tilt_center]
# gcode:
#     RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c tilt_absolute=0"

# [gcode_macro zoom_in]
# gcode:
#     RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c zoom_absolute=10"

# [gcode_macro zoom_mid]
# gcode:
#     RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c zoom_absolute=5"

# [gcode_macro zoom_out]
# gcode:
#     RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c zoom_absolute=0"


# [gcode_macro focus_manual]
# gcode:
#     RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c focus_auto=0"

# [gcode_macro focus_auto]
# gcode:
#     RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c focus_auto=1"

# [gcode_macro focus_absolute]
# gcode:
#     {% set focus_absolute = params.FOCUS|default(14) %}
#     RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c focus_absolute="{focus_absolute}

# [gcode_macro brightness]
# gcode:
#     {% set brightness_level = params.BRIGHTNESS|default(133) %}
#     RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c brightness="{brightness_level}

# [gcode_macro contrast]
# gcode:
#     {% set contrast_level = params.CONTRAST|default(5) %}
#     RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c contrast="{contrast_level}

# [gcode_macro sharpness]
# gcode:
#     {% set sharpness = params.SHARPNESS|default(20) %}
#     RUN_SHELL_COMMAND CMD=v4l2-ctl PARAMS="-c sharpness="{sharpness}