[gcode_macro _WIPE_ALL_NOZZLES]
gcode:
  SAVE_GCODE_STATE NAME=STATE_WIPE_ALL_NOZZLES
  {% set svv = printer.save_variables.variables %}
  # remember currently active extruder
  {% if printer.toolhead.extruder == "extruder" %}
    {% set current_tool_index = 0 %}
    {% set tool_to_restore = 0 %}
  {% elif printer.toolhead.extruder == "extruder1" %}
    {% set current_tool_index = 1 %}
    {% set tool_to_restore = 1 %}
  {% elif printer.toolhead.extruder == "extruder2" %}
    {% set current_tool_index = 2 %}
    {% set tool_to_restore = 2 %}
  {% else %}
    {% set current_tool_index = -1 %}
    {% set tool_to_restore = -1 %}
  {% endif %}
  G91
  G0 E-10 F5000
  G90
  _ZHOP
  {% for tool_index in range(0,svv.active_tools) %}
    {% set extruder = "extruder" + (tool_index if tool_index>0 else "")|string %}
    {% if (extruder in printer) %}
      {% set sensor = printer["gcode_macro _SENSOR_VARIABLES_" + tool_index|string] %}
      {% if (sensor.used_during_print) %}
        {% if (printer[extruder].can_extrude) %}
          {% if tool_index != current_tool_index and current_tool_index > -1 %}
            DOCK_T{current_tool_index}
            SELECT_T{tool_index}
            {% set current_tool_index = tool_index %}
          {% endif %}
          #do wipe
          G90
          {% if tool_index == 0 %}
            G0 Y{svv.zero_dock_y} X{svv.zero_dock_x + 60} F20000
          {% elif tool_index == 1 %}
            G0 Y{svv.one_dock_y} X{svv.zero_dock_x + 60} F20000
          {% elif tool_index == 2 %}
            G0 Y{svv.two_dock_y} X{svv.zero_dock_x + 60} F20000
          {% endif %}
          G91
          G0 F5000
          G0 X-4 Y-3
          G0 X-4 Y6
          G0 X-4 Y-6
          G0 X-4 Y6
          G0 X-4 Y-3
          G90
          _WIPE
          G0 X0 F20000
        {% else %}
          { action_respond_info(extruder + " is too cold to extrude!" ) }
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
  {% if tool_to_restore > -1 and current_tool_index != tool_to_restore %}
    DOCK_T{current_tool_index}
    SELECT_T{tool_to_restore}
  {% endif %}
  G91
  G0 E10 F5000
  G90
  RESTORE_GCODE_STATE NAME=STATE_WIPE_ALL_NOZZLES MOVE=1 MOVE_SPEED=22000


[gcode_macro WIPE_ON_NEXT_LAYER]
description: Wipe all active toolheads on nexxt layer
gcode:
  SET_PAUSE_NEXT_LAYER MACRO=_WIPE_ALL_NOZZLES ENABLE=1

